<!--original-->
{% extends "base.html" %}
{% load static %}

{% block title %} About Cityfinder {% endblock %}

{% block header %}

<header>
    <div class="container" id="title_section">
        <h1>CityFinder</h1>
    </div>
</header>
{% endblock %}

{% block body %}

<main>
  <h3>
      A project by 
  </h3>
  <ul id="names">
    <li>
      <a href="https://annahazard.com/">Anna Hazard</a>
    </li>
    <li>
      <a href="http://www.aldengolab.com/">Alden Golab</a>
    </li>
    <li>
      <a href="https://github.com/danilito19/">Dani Litovsky Alcala</a>
    </li>
  </ul>
  <h3> for a University of Chicago computer science course.
  </h3>

</main>
{% endblock %}

{% block footer %}
<footer>

    <div class="container-fluid">
        <button id="bottom-button" type="button" onclick="window.location.href='../'">
            <img src={% static "images/arrow.svg" %} id="arrow">
            <p id="button-label">start<p>
        </button>
    </div>

</footer>
{% endblock %}
