{% extends "base.html" %}
{% load static %}

{% block title %} Preferences {% endblock %}

{% block header %}
    <header>
        <div class="container" id="title_section">
            <h1>CityFinder {{ test_context }} </h1>
        </div>
    </header>
{% endblock %}

{% block body %}
<main>
    <h2>
        What are your preferences?
    </h2>
    <!-- sort: false -->
    <div class="container-fluid" id="lists">
        <div class="row=centered">
            <div class = "col-md-12">
                <h3 id="slide_header" class="slider_element"> City Size </h3>
                <p class="slider_element option">Small</p>
            
                <div class="slider_element"><input id="size" type="text" data-slider-min="0" data-slider-max="2" data-slider-step="1" data-slider-value="1" data-slider-enabled="true"/></div>

                <p class="slider_element option">Large</p>
                
                <div class="slider_element"><input class="slider_element" id="size-disabled" type="checkbox"/><p>Indifferent</p></div>
            </div>
        </div>
        <div class="row-centered">
            <div class = "col-md-12">
                <h3 id="slide_header" class="slider_element"> Sun </h3>
                <p class="slider_element option">Sunny</p>
            
                <div class="slider_element"><input id="sun" type="text" data-slider-min="0" data-slider-max="2" data-slider-step="1" data-slider-value="1" data-slider-enabled="true"/></div>

                <p class="slider_element option">Overcast</p>
                
                <div class="slider_element"><input class="slider_element" id="sun-disabled" type="checkbox"/><p>Indifferent</p></div>
            </div>
        </div>
        <div class="row-centered">
            <div class = "col-md-12">
                <h3 id="slide_header" class="slider_element"> Temperature </h3>
                <p class="slider_element option">Warm</p>
            
                <div class="slider_element"><input id="temp" type="text" data-slider-min="0" data-slider-max="2" data-slider-step="1" data-slider-value="1" data-slider-enabled="true"/></div>

                <p class="slider_element option">Cold</p>
                
                <div class="slider_element"><input class="slider_element" id="temp-disabled" type="checkbox"/><p>Indifferent</p></div>
            </div>
        </div>
        <div class="row-centered">
            <div class = "col-md-12">
                <h3 id="slide_header" class="slider_element"> Seasons </h3>
                <p class="slider_element option">Variation</p>
            
                <div class="slider_element"><input id="seasons" type="text" data-slider-min="0" data-slider-max="2" data-slider-step="1" data-slider-value="1" data-slider-enabled="true"/></div>

                <p class="slider_element option">Constant</p>
                
                <div class="slider_element"><input class="slider_element" id="seasons-disabled" type="checkbox"/><p>Indifferent</p></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<footer>
    <div class="container-fluid">
        <form action="../city_results/" method="post"> {% csrf_token %}
            <input <input type="hidden" id="preferences" name="preferences">
        </form>
        <img src={% static "images/arrow.svg" %} id="arrow" onclick="get_inputs()">
    </div>
</footer>
{% endblock %}

{% block additional_js %}
<script src={% static "js/preferences.js" %}></script>
{% endblock %}
