<!--Original-->
{% extends "base.html" %}
{% load static %}

{% block title %} Preferences {% endblock %}

{% block header %}
    <header>
        <div class="container" id="title_section">
            <h1>CityFinder {{ test_context }} </h1>
        </div>
    </header>
{% endblock %}

{% block body %}
<main>
    <h2>
        What types of communities are important to you?
    </h2>
    <!-- sort: false -->
    <div class="container-fluid" id="lists">
        <h3>I care about living where there is...</h3>
        <div class="center-block" id="community_checklist">
                <input type="checkbox" name="lgbtq">&nbsp;&nbsp;&nbsp;&nbsp;a significant lgbtq community<br></input>
                <input type="checkbox" name="old">&nbsp;&nbsp;&nbsp;&nbsp;a significant retired community<br></input>
                <input type="checkbox" name="young">&nbsp;&nbsp;&nbsp;&nbsp;a lot of young people and families<br></input>
                <input type="checkbox" name="hisp">&nbsp;&nbsp;&nbsp;&nbsp;a significant hispanic community<br></input>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<footer>
    <div class="container-fluid">
        <form id="community-form" action="../city_results/" method="post"> {% csrf_token %}
            <input <input type="hidden" id="community" name="preferences">
        </form>
        <button id="bottom-button" type="button" onclick="get_community_inputs()">
            <img src={% static "images/arrow.svg" %} id="arrow">
            <p id="button-label">continue<p>
        </button>
    </div>
</footer>
{% endblock %}

{% block additional_js %}
<script src={% static "js/communities.js" %}></script>
{% endblock %}
