{% extends "base.html" %}
{% load static %}

{% block title %} Priorities {% endblock %}

{% block header %}
<header>
    <div class="container" id="title_section">
        <h1>CityFinder</h1>
    </div>
</header>
{% endblock %}

{% block body %}
    <main>
        <h2>
            What are your priorities?
        </h2>
        <!-- sort: false -->
        <div class="container-fluid" id="lists">
            <div class="row-centered gutter-60">
                <div class="col-xs-6">
                    <p class="instructions">
                        Drag items that matter to you from this list...
                    </p>
                    <ol id="sortFalse" class="list-group">
                        <li class="list-group-item" id="cost">Cost of Living</li>
                        <li class="list-group-item" id="walk">Walkability</li>
                        <li class="list-group-item" id="bike">Bikability</li>
                        <li class="list-group-item" id="transit">Public Transit</li>
                        <li class="list-group-item" id="safe">Safety</li>
                        <li class="list-group-item" id="diverse">Cultural Diversity</li>
                        <li class="list-group-item" id="weather">Weather</li>
                    </ol>
                </div>
                <div class="col-xs-6">
                    <p class="instructions">
                        And place them in this list, in order of their importance
                    </p>
                    <!-- sort: true -->
                    <ol id="sortTrue" class="list-group priorities">
                    </ol>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
<footer>
<!--         <form action="/priorities/" method="post">
        <input type="hidden" id="priorities" name="priorities">
    </form>
    would using <a href make it easier to get the right link?-->
    

    <div class="container-fluid">
        <a href="/preferences">
               <img src={% static "images/arrow.svg" %} id="arrow" onclick="get_inputs()">
        </a>
    </div>
</footer>
{% endblock %}
